USER=van
DATA_DIR=/home/van/data

DOMAIN_NAME=vbui.42.fr

MYSQL_DATABASE=wordpress
MYSQL_USER=wp_user
MYSQL_PASSWORD=wp_password
MYSQL_ROOT_PASSWORD=root_password

WORDPRESS_DB_HOST=mariadb
WORDPRESS_DB_NAME=wordpress
WORDPRESS_DB_USER=wp_user
WORDPRESS_DB_PASSWORD=wp_password

PMA_HOST=mariadb
PMA_PORT=3306
WP_URL=https://localhost
